@model string;
@*<form class="sample-form" method="GET" action="/watch" target="_top">
    <input type="search" placeholder="Search..." name="v" value="@(Model)">
    <input type="submit" value="OK">
    </form>*@

<section class="target">
    <a class="target-anchor" id="indexForms" title="Index forms target"></a>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">               
                <form method="GET" action="/watch" target="_top" novalidate="">
                    <div class="form-group">
                        <label for="exampleTextInput">Example text</label>
                        <input type="text" class="form-control user-valid valid" id="exampleInput" name="v" placeholder="Text input ...">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>
            </div>           
        </div>
    </div>



</section>