@model string;
<form class="sample-form" method="GET" action="/watch" target="_top">
  <input type="search" placeholder="Search..." name="v" value="@(Model)">
  <input type="submit" value="OK">
</form>
