@model string;
@*<form class="sample-form" method="GET" action="/watch" target="_top">
    <input type="search" placeholder="Search..." name="v" value="@(Model)">
    <input type="submit" value="OK">
    </form>*@

<section class="target">
    <a class="target-anchor" id="indexForms" title="Index forms target"></a>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                @Model
                <amp-video width="480" height="270" src="@Model" poster="" layout="responsive" controls>
                    <div fallback>
                        <p>Your browser doesn't support HTML5 video.</p>
                    </div>
                </amp-video>
            </div>
        </div>
    </div>



</section>