@model YoutubeDownloadLinkReply

{
<div class="text-center">
	<h4 class="text-center">Your file is ready for download</h4>
	<a href="@($"{Model.Url}")" target="_blank">@($"Download link -> {Model.DisplayName} <- Download link")</a>
</div>
}

