@model YouTubeAllInfoViewModel

<script>
    function setValues(e) {
        var mediaPlayerStart = $("#MediaPlayerStart").data("kendoMediaPlayer");
        var mediaPlayerEnd = $("#MediaPlayerEnd").data("kendoMediaPlayer");

        var split = e.value.toString().split(",")
        var start = parseFloat(split[0]);
        var end = parseFloat(split[1]);

        mediaPlayerStart.seek(start * 1000);
        mediaPlayerStart.pause();

        mediaPlayerEnd.seek(end * 1000);
        mediaPlayerEnd.pause();

        $("#spanStartFrame").text("Start frame " + start);

        $("#spanEndFrame").text("End frame " + end);
    }

    function rangeSliderSlide(e) {
        setValues(e);

    }

    function rangeSliderChange(e) {
        setValues(e);
    }

    function onBtnDownloadClick(e) {

        var mediaPlayerStart = $("#MediaPlayerStart").data("kendoMediaPlayer");

        var ytUrl = mediaPlayerStart.media().source;
        var radioGroup = $("#radiogroup").getKendoRadioGroup();
        var selectedValue = radioGroup.value();

        var slider = $("#rangeslider").getKendoRangeSlider();
        var value = slider.value();
        var split = value.toString().split(",")
        var start = parseFloat(split[0]);
        var end = parseFloat(split[1]);

        var btnDownload = $("#btnDownload");
        btnDownload.hide();

        $.ajax({
            url: '/Home/GetDownloadLink?ytUrl=' + ytUrl + '&selectedOption=' + selectedValue + '&start=' + start + '&end=' + end,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
            .success(function (result) {
                btnDownload.show();
                $('#divDownloadLink').html(result);
            })
            .error(function (xhr, status) {
                btnDownload.show();
                alert(status);
            })
    }
</script>

<p class="text-center">
    @(Html.Kendo().RangeSlider()
                  .Name("rangeslider")
                  .Min(0)
                  .Max(Model.DurationInSeconds)
                  .SmallStep(0.1)
                  .LargeStep(10)
                  .Events(events => events
                      .Slide("rangeSliderSlide")
                      .Change("rangeSliderChange"))
                  .HtmlAttributes(new { @class = "humidity" }))
</p>
<p class="text-center">
    @(Html.Kendo().RadioGroup()
            .Name("radiogroup")
            .LabelPosition(RadioGroupLabelPosition.After)
            .Layout(RadioGroupLayout.Horizontal)
            .Items(i =>
            {
                foreach (var info in Model.Infos)
                {
                    i.Add().Label(info.VideoResolutionP).Value(info.DownloadSwitchAudioAndVideo);
                }
            })
            .Value(Model.Infos.FirstOrDefault().DownloadSwitchAudioAndVideo)
        )
</p>

<p class="text-center">
    @(Html.Kendo().Button()
        .Name("btnDownload")
        .HtmlAttributes(new { @class = "k-primary" })
        .Content("Get Download link")
        .Events(ev => ev.Click("onBtnDownloadClick")))
</p>

<div id="divDownloadLink">

</div>

