@{
	ViewData["Title"] = $"Media player | {SiteConstants.Title}";
	ViewData["Description"] = "Play your media";
	ViewData["CanonicalUrl"] = $"{SiteConstants.CanonicalUrl}/mediaplayer";
}

<div class="text-center">
	<a rel="noreferrer" id="aDownload" href="" target="_blank">DownloadFile</a>
</div>
@(Html.Kendo().MediaPlayer()
        .Name("mediaPlayer")
		.Navigatable(true)
        .HtmlAttributes(new { style = "height:360px" })
    )

<script type="text/javascript">
	 $(document).ready(function () {
	const urlSearchParams = new URLSearchParams(window.location.search);
	const params = Object.fromEntries(urlSearchParams.entries());
	var url = params['url'];
	url = url + "?sv=2020-08-04&st=2020-11-23T14%3A31%3A00Z&se=2030-11-24T14%3A31%3A00Z&sr=c&sp=rl&sig=eg3SorCvBUDlTZKTtOBaisfU95qmERnZhIfmOk1Og0c%3D";
	var mediaPlayer = $("#mediaPlayer").data("kendoMediaPlayer");

					mediaPlayer.media({
						source: url
					});
 
					$("#aDownload").attr("href", url);

	 });

	

</script>
