@{
    ViewData["Title"] = $"Media player | {SiteConstants.Title}";
    ViewData["Description"] = "Play your media";
    ViewData["CanonicalUrl"] = $"{SiteConstants.CanonicalUrl}/mediaplayer";
}

<div class="text-center">
    <a rel="noreferrer" id="aDownload" href="" target="_blank">DownloadFile</a>
</div>
<div class="text-center">
    <video id="my-video"
           class="video-js"
           autoplay
           controls
           preload="auto"
           height="264"
           data-setup="{}">
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>

<script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

<script type="text/javascript">
     $(document).ready(function () {


    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());

    debugger;
    //var url = params['url'];

    var url = window.location.search.replace("?url=", "");

      $("video" ).prepend("<source src='" + url + "?sv=2020-08-04&st=2020-11-23T13%3A51%3A00Z&se=2030-11-24T13%3A51%3A00Z&sr=c&sp=rl&sig=XiZP1so%2BItuwYGKn109aOUNZhrWc%2Bud5QrDqluxYWZ4%3D" +"'/>" );
      $("#aDownload").attr("href", url);
      var player = videojs('my-video');

        player.fluid(true);

    });

</script>
