@{
    ViewData["Title"] = $"My Downloads | {SiteConstants.Title}";
    ViewData["Description"] = "Downloads made from this IP (" + this.Context.Connection.RemoteIpAddress.ToString() + ")";
}
@*<div class="position-relative overflow-hidden p-1 p-md-1 m-md-1 text-center">
                <div class="mx-auto my-5">
                    <h3>Current IP: @(this.Context.Connection.RemoteIpAddress.ToString())</h3>
                </div>
            </div>*@
@(Html.Kendo().Grid<YoutubeDownloadedFileInfo>()
                            .Name("grid")
                            .Mobile(MobileMode.Auto)                            
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.DisplayName).Title("Name");
                                columns.Bound(p => p.FileOnDiskExtension).Title("Type").MinScreenWidth(250);
                                columns.Template("<a target='_blank' href=' #= Url #'>Download</a>").Title("Download");
                                columns.Template(template: "#= kendo.toString(kendo.parseDate(DownloadedOn), 'yyyy/MM/dd hh:mm') #").Title("Downloaded on").MinScreenWidth(250);
                                columns.Bound(p => p.Start).Title("Start").MinScreenWidth(250);
                                columns.Bound(p => p.End).Title("End").MinScreenWidth(250);
                                columns.Bound(p => p.FileOnDiskSizeInMegabytes).Title("Size in MBs").MinScreenWidth(250);


                            })
                             .ToolBar(t => t.Search())
                            .Pageable()
                            //.Sortable()
                            //.Scrollable()
                            //.HtmlAttributes(new { style = "height:550px;" })

                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .ServerOperation(false)
                                .Read(read => read.Url("/getmyfiles"))
                             )
        )



