<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content="This is the Google AMP Boilerplate.">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <!-- Import other Google AMP Extensions here -->
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-form-0.1.js">
    <script custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js" async=""></script>

    <partial name="_AmpCustomCssFrameworkPartial.cshtml" />
    <partial name="_AmpBoilerplateCssPartial.cshtml" />

    <link rel="canonical" href="...">

    <title>My Google AMP Page</title>
</head>
<body>
    
    <header class="mega-menu full-width">
			<div class="container-fluid">
            <div class="row">
                <div class="header">
                    <div class="container">
                        <nav class="main-menu" id="main-menu">
                            <!-- Mobile Menu -->
                            <label for="mobile" id="mobile-menu">
                            @*    <a href="#" title="...">
                                    <amp-img alt="..."
                                             title="..."
                                             src="android-chrome-192x192.webp"
                                             width="21"
                                             height="24"
                                             class="img-logo">
                                    </amp-img>
                                    <span class="logo">CutYT</span>
                                </a>*@

                                <span class="main-menu-dropdown-icon">
                                    <i class="hamburger"></i>
                                </span>
                            </label>

                            <input type="checkbox" id="mobile">

                            <!-- Main menu -->
                            <ul class="main-menu">
                                <!-- Left links -->
                               @* <li class="main-menu-logo">
                                    <a href="#" title="...">
                                        <amp-img alt="..."
                                                 title="..."
                                                 src="android-chrome-192x192.webp"
                                                 width="28"
                                                 height="32"
                                                 class="img-logo">
                                        </amp-img>
                                        <span class="logo">CutYT</span>
                                    </a>
                                </li>*@

                                <li>
                                    <a href="#" title="...">My Downloads</a>
                                </li>
                               <li>
                                    <a href="#" title="...">All Downloads</a>
                                </li>

                            
                            </ul>
                            <!-- /main-menu -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>