@page
@model Error404Model
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">This page cannot be found</h2>

<img width="500" height="333" src="~/404.jpg" />