@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cut Your Tube</h1>
    <h2>Trim, Convert and Download audio and video files</h2>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="text-center display-4">
            <span class="fa-youtube fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold  h5">EASY TO USE</h3>
        <p class="text-center">
            Just prepend the YouTube URL with <span class="text-success font-weight-bold">ct</span> and you will be redirected to <a rel="noreferrer" href="https://www.cutyt.com/" target="_blank">cutyt.com</a>
        </p>
        <p class="text-center">
            Example: <a rel="noreferrer" href="https://www.youtube.com/watch?v=TxbE79-1OSI" target="_blank">https://www.youtube.com/watch?v=TxbE79-1OSI</a>
        </p>
        <p class="text-center">
            will become
        </p>
        <p class="text-center">
            <a rel="noreferrer" href="https://www.ctyoutube.com/watch?v=TxbE79-1OSI" target="_blank">https://www.<span class="text-success font-weight-bold">ct</span>youtube.com/watch?v=TxbE79-1OSI</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class=" fa-bullhorn fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">NO ADS</h3>
        <p>Tired of ads? With our service no advertisements will be shown while you are enjoing you favorite video or audio.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class=" fa-bolt fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">NO BUFFER</h3>
        <p>Slow connection can make you video stop while buffering. This is no longer the case when you download your file with Cutyt.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class=" fa-cloud-download  fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">SAVE BANDWIDTH</h3>
        <p>When you are wathcing high resolution videos like 1080p or 4K you are downloading huge ammoung of data every time. With Cutyt you are downloading only once.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class=" fa-windows fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">WORKS OFFLINE</h3>
        <p>Once you download the file no internet connection will be required to watch or listen it again.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class="fa-dollar fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">FREE SERVICE</h3>
        <p>Our service is always free. No registration required. Download youtube videos without having to pay anything.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class="fa-download fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">UNLIMITED DOWNLOADS</h3>
        <p>Download youtube videos as much as you like! No limitations for the number of downloads. Unrestricted file sizes.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class="fa-user-secret fa" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold h5">SECURE DOWNLOADS</h3>
        <p>We use HTTPS for secure connections. We do not collect any personal data. We do not use cookies, but third party services may use them.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center display-4">
            <span class="fa fa-exchange" style="color: #009df3;"></span>
        </div>
        <h3 class="text-center font-weight-bold  h5">RUNS EVERYWHERE</h3>
        <p>Our responsive and ultra fast website can be used on every platform that is out there. Windows, Linux, Mac, Android, iOS - we support everything.</p>
    </div>
</div>
