@page "/download"

@using BlazorServerApp.Data
@using Cutyt.Core.Classes
@using System.Web
@using Cutyt.Core.Rebus.Replies
@using CutytKendoWeb.Models

@inject WatchService WatchService
@inject NavigationManager navManager


@if (vm == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span>@vm.Url</span>
}

@code {
    YoutubeDownloadedFileInfo? vm = null;

    [Parameter]
    [SupplyParameterFromQuery(Name = "V")]
    public string V { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "ytUrl")]
    public string YtUrl { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "selectedOption")]
    public string SelectedOption { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "start")]
    public double Start { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "end")]
    public double End { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "downloadSwitchAudioAndVideo")]
    public double DownloadSwitchAudioAndVideo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PostDataDownloadLinkViewModel postDataDownloadLinkViewModel = new PostDataDownloadLinkViewModel()
            {
                SelectedOption = SelectedOption,
                Start = Start,
                End = End,
                YtUrl = YtUrl,
                ShouldTrim = true,
                V = V,
            };

        vm = await WatchService.GetDownloadLink(postDataDownloadLinkViewModel);
    }
}
