@page "/"
@*
    <PageTitle>Index</PageTitle>*@

<div class="container-fluid">
    <form action="/watch">
        <div class="form-group">
            <label for="tbUrl">Enter YouTube URL:</label>
            <input type="text" class="form-control" name="v" id="v" placeholder="Enter YouTube URL">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
