@page "/"

@*
    <PageTitle>Index</PageTitle>*@

<div class="row text-center">
    <div class="col-lg-12">
        <form action="/watch">
            <div class="form-group">
                <label for="tbUrl">Enter YouTube URL:</label>
                <input type="text" class="form-control" name="v" id="v" placeholder="Enter YouTube URL">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Start</button>
            </div>
        </form>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">NO BUFFER</h4>
            <p>Slow connection can make you video stop while buffering. This is no longer the case when you download your file with Cutyt.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">SAVE BANDWIDTH</h4>
            <p>When you are wathcing high resolution videos like 1080p or 4K you are downloading huge ammoung of data every time. With Cutyt you are downloading only once.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">WORKS OFFLINE</h4>
            <p>Once you download the file no internet connection will be required to watch or listen it again.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">FREE SERVICE</h4>
            <p>Our service is always free. No registration required. Download youtube videos without having to pay anything.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">UNLIMITED DOWNLOADS</h4>
            <p>Download youtube videos as much as you like! No limitations for the number of downloads. Unrestricted file sizes.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">SECURE DOWNLOADS</h4>
            <p>We use HTTPS for secure connections. We do not collect any personal data. We do not use cookies, but third party services may use them.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">RUNS EVERYWHERE</h4>
            <p>Our responsive and ultra fast website can be used on every platform that is out there. Windows, Linux, Mac, Android, iOS - we support everything.</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"></use></svg>
        <div>
            <h4 class="fw-bold mb-0">NO ADS</h4>
            <p>Tired of ads? With our service no advertisements will be shown while you are enjoing you favorite video or audio.</p>
        </div>
    </div>
</div>
