@page "/mediaplayer/"
@using System.Web
@using Cutyt.Core.Extensions
@inject NavigationManager NavigationManager

<PageTitle>Weather forecast</PageTitle>

@if (Url != null)
{
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="text-center">
                <a rel="noreferrer" id="aDownload" href="@($"{Url}?sv=2020-08-04&st=2020-11-23T14%3A31%3A00Z&se=2030-11-24T14%3A31%3A00Z&sr=c&sp=rl&sig=eg3SorCvBUDlTZKTtOBaisfU95qmERnZhIfmOk1Og0c%3D")" target="_blank">DownloadFile</a>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" width="320" height="240" controls>
                    <source src="@($"{Url}?sv=2020-08-04&st=2020-11-23T14%3A31%3A00Z&se=2030-11-24T14%3A31%3A00Z&sr=c&sp=rl&sig=eg3SorCvBUDlTZKTtOBaisfU95qmERnZhIfmOk1Og0c%3D")">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

}

else
{
    <p><em>Loading...</em></p>
}

@code {

    private string? Url;

    protected override async Task OnInitializedAsync()
    {
        Uri uri = new Uri(NavigationManager.Uri);
        System.Collections.Specialized.NameValueCollection parsedQSTest = HttpUtility.ParseQueryString(uri.Query);
        Url = parsedQSTest["url"].Base64StringDecode();
    }

}

